---
const {c, d, title} = Astro.props;
---
<div class="relative">
    <a href="#" id=`S-${title}` class={c}>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 48 48"
            width="24px"
            height="24px"
            ><path
                class=""
                d={d}
            ></path></svg
        >
        {title}
    </a>
    <div id=`B-${title}` class="box absolute left-[-22px] top-0 w-3 h-8 bg-cyan-500 rounded-md shadow-lg dark:bg-teal-900 scale-0">
        <div class="py-1">
        </div>
    </div>
</div>
<style>

    a:hover {
            color: #7f9693;
        }
    a {
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    html.dark a {
        color: #f5fffe;
    }

    a:hover svg {
        fill: #7f9693;
    }

    html.dark a svg {
        fill: #f5fffe;
    }

    html.dark a:hover svg {
        fill: #7f9693;
    }

    a.active{
        @apply text-cyan-500;
    }

    html.dark a.active {
        @apply text-teal-500;
    }

    a.active svg {
        @apply fill-cyan-500;
    }

    html.dark a.active svg {
        @apply fill-teal-500;
    }

    a.active + .box {
        @apply scale-100;
    }

</style>

<script>
    const icons = document.querySelectorAll('[id^="S-"]');

    icons.forEach((icon) => {
        icon.addEventListener('click', (e) => {
            icons.forEach((icon) => {
                icon.classList.remove('active');
            });
            icon.classList.add('active');
        });
    });

    
</script>
